<% if current_user && current_user.is_admin? %>
  <div class="alert alert-info">
    <p id="add_link">You have permission to administer races in <%= link_to "the dashboard", admin_races_path %></p>
  </div>
<% end %>

<%= render "races/new_activity_form" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @races %>
  </tbody>
</table>