<tr>
  <td><%= link_to race.name, race_path(race) %></td>
  <td><%= truncate(race.details, length: 100) %></td>
  <td><%= link_to "Edit", edit_race_path(race), class: "btn btn-primary" %></td>
  <td><%= link_to "Delete", race_path(race), class: "btn btn-danger", method: :delete %></td>
</tr>