<% if current_user && current_user.is_admin? %>
  <div class="alert">
    <p id="add_link">You are managing all races as an administrator. <%= link_to "Click here to add a Race.", new_race_path %></p>
  </div>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @races %>
  </tbody>
</table>