<div class="container clearfix">
    <div id="logo" class="grid_4">
      <%= image_tag "running_twilight.jpeg" %>
    </div>
    <div class="grid_8 omega">  
      <ul class="nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Get Started</a></li>
        <li><a href="#">Find Races</a></li>
        <li class="last"><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div id="intro" class="grid_9">
      <h1>Our mission is to capture and grow the local running community by improving all running, training, and racing experiences. We are committed to helping local running organizations become successful and committed to being a partner in possiblity for runners of all levels.<br>
      <br>  
      We are currently in the greater DC area. <br>
      <br>
      </h1>
      <p><a href="#" class="btn">Learn More</a></p>
    </div>
    <div class="grid_3 omega">    
      <%= image_tag "2014_TrophySeries.png" %>
    </div>    
      
    <div id="featured-race" class="grid_7">
      <h2>Race of the Week</h2>
      <p>This week's featured race is the <a href="#">Reston 10 Miler</a>. A fun and challenging race through the heart of Reston is a great way to get ready for spring races!</p>
      <%= image_tag "Reston10Miler.png" %>
    </div>

    <div id="recent-results" class="grid_5 omega">
      <h2>Recent Results</h2>
      <p>Results from the past weekend, including the <a href="#">Heritage High School Roar Run 5k &amp; Fun Run.</a></p>
    <div class="grid_8 omega">  
      <ul class="race-results">
        <li><a href="#">January 2014</a></li>
        <li><a href="#">2013</a></li>
        <li><a href="#">2012</a></li>
      </ul>
    </div>
    </div>


    <div class="grid_7">
      <h2>Looking to boost your training?</h2>
      <p>Gruntly is a mobile solution to help runners of all levels find local training programs, discover local races, form groups with friends, and connect with new runners.</p>
      <p><a href="#" class="btn-small">Read More</a></p>
    </div>

    <div class="grid_5 omega">
      <h2>Start running with Us</h2>

      <div id="contact">
      <p>Email us: <a href="#">gruntly@gmail.com</a> or send us a message on Twitter</p>
      </div>
      <a href="https://www.twitter.com/#!/Gruntly"><%= image_tag "bird_gray_48.png"%></a>
    </div>

    <div id="copyright" class="grid_12">
      <p>&copy; 2014 Gruntly DC. All Rights Reserved</p>
    </div>

</div>
